:root{
    --colorRojo: #b81e14;
    --colorGris: #92908b;
}
*{
    /* box-sizing: border-box;
    padding: 0; */
    margin: 0;
    
}
a{
    text-decoration: none;
    color: #ffff;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}
body{
    background-image: url('/images/bg-body.png');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 10px;
}